* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.container {
  background-size: 100%;
  height: 100%;
  width: 100%;
  background: url("https://cdn.pixabay.com/photo/2014/04/02/14/14/sun-306569_640.png"),
    url("https://cdn.pixabay.com/photo/2024/02/29/22/29/ai-generated-8605331_640.png"),
    linear-gradient(to right, #999, red), linear-gradient(to right, blue, green),
    linear-gradient(to right, black, rgb(193, 241, 126));
  background-position: center center;
  background-size: 100%;
  background-size: cover;
  background-blend-mode: lighten, screen, hard-light, exclusion;
  margin: 0;
  padding: 0;
  animation: flap 6s infinite;
  animation-direction: alternate;
  box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
@keyframes flap {
  0%,
  100% {
    background-position: center center, 10px 0, center center, center center,
      center center;
  }
  40% {
    background-position: center center, 5px -30px, center center, center center,
      center center;
  }
  80% {
    background-position: center center, 10px -5px, center center, center center,
      center center;
  }
}
.information {
  position: absolute;
  top: 5%;
  right: 5%;
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 25%;
  font-size: 1.5rem;
  font-weight: 550;
}
a {
  text-decoration: none;
  color: rgb(221, 10, 221);
  font-weight: bold;
}
a:hover {
  color: rgb(7, 189, 56);
}
