* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.container {
  background-size: 100%;
  height: 100%;
  width: 100%;
  background: url("images/sun.gif"), url("images/victory.png"),
    linear-gradient(to right, #999, red), linear-gradient(to right, blue, green),
    linear-gradient(to right, black, rgb(193, 241, 126));
  background-position: center center;
  background-size: 100%;
  background-size: cover;
  background-blend-mode: lighten, screen, hard-light, exclusion;
  margin: 0;
  padding: 0;
  animation: flap 6s infinite;
  animation-direction: alternate;
  box-shadow: inset 0 0 0 30px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
@keyframes flap {
  0%,
  100% {
    background-position: center center, 10px 0, center center, center center,
      center center;
  }
  40% {
    background-position: center center, 5px -30px, center center, center center,
      center center;
  }
  80% {
    background-position: center center, 10px -5px, center center, center center,
      center center;
  }
}
.information {
  position: absolute;
  top: 5%;
  right: 5%;
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 25%;
  font-size: 1.5rem;
  font-weight: 550;
}
a {
  text-decoration: none;
  color: rgb(221, 10, 221);
  font-weight: bold;
}
a:hover {
  color: rgb(131, 201, 245);
}

#victory {
  position: absolute;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  top: -300px;
  left: 46%;
  border: 10px dashed rgb(233, 80, 4);
  box-shadow: 2px 2px 2px 2px rgb(99, 34, 2);
  animation: showMedal 5s linear forwards;
}
@keyframes showMedal {
  from {
    top: -200px;
    border: 10px dashed rgb(233, 80, 4);
    box-shadow: 2px 2px 2px 2px rgb(99, 34, 2);
  }
  to {
    top: 73%;
    border: 7px dotted gold;
    box-shadow: 2px 2px 2px 2px goldenrod;
  }
}
#sun {
  position: absolute;
  width: 380px;
  height: 320px;
  top: 7.5%;
  left: 7.5%;
  transform: rotate(-25deg) scale(0);
  animation: showSun 5s 1s ease-in-out forwards;
}
@keyframes showSun {
  from {
    transform: rotate(-25deg) scale(0);
  }
  to {
    transform: rotate(-25deg) scale(1);
  }
}
