* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-image: url(images/tapete.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% 75%;
  overflow: hidden;
}
.container {
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.box {
  position: relative;
  width: 300px;
  height: 32rem;
  perspective: 1000px;
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transform-origin: center center;
  overflow: clip;
  background-color: rgb(137, 231, 198);
  border: 2px solid black;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.cardtext {
  color: black;
  font-size: 1.5rem;
  background-color: rgb(137, 231, 198);
  padding: 5%;
}
video,
.video {
  width: 95%;
  height: 80%;
  object-fit: cover;
  padding-bottom: 15px;
}
.instruction {
  display: flex;
  margin: 5% 30%;
  align-items: center;
}
marquee {
  font-size: 2rem;
  color: rgb(38, 95, 75);
  font-weight: bold;
  margin-left: 3rem;
}
