@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background-image: url(https://cdn.pixabay.com/photo/2013/07/13/12/38/man-160034_640.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60% 50%;
  font-family: "Josefin Sans", sans-serif;
}
.wrapper {
  gap: 5px;
  margin-right: 5%;
  margin-left: 5%;
  display: grid;
  grid-template-columns: 3fr 2fr;
}
.cards {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cardRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
  margin-bottom: 25px;
}
.container {
  width: 280px;
  height: 280px;
  position: relative;
  overflow: hidden;
}

.container img {
  width: 100%;
  transition: all 0.5s;
}

.caption {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.5s;
  background-color: black;
  transform: translateY(100%);
}

.caption h1 {
  text-transform: uppercase;
  margin: 0;
}

.caption p {
  font-size: 18px;
  text-transform: capitalize;
}

.container:hover .caption {
  transform: translateY(0);
}

.container:hover img {
  transform: translateY(-30%);
}
.instruction {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 5%;
}
