* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
}
.images {
  display: flex;
}
.container {
  margin: 0.5% 5%;
}
.links {
  display: flex;
  gap: 50px;
}
a,
p {
  text-decoration: none;
  font-size: 1.25rem;
  color: rgb(246, 130, 130);
}
a:hover,
p:hover {
  color: orangered;
}
.videos {
  position: absolute;

  top: 5%;
  left: 0;
  display: flex;
  justify-content: space-around;
  z-index: 10;
}
#video1,
#video2,
#video3 {
  visibility: hidden;
}
